<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

  </head>

    <body ng-app="ourModule" ng-controller="ourController">
<div id="list">
  <h1>To Do List</h1>

      <input type="text" ng-model="item.name" placeholder="Add Items">

      <input type="text" ng-model="filter" placeholder="Filter Items">

      <button type="button" ng-click="addItem(item)">Add Item</button>


      <div ng-repeat="item in toDoList | filter: filter track by $index">
      <p>{{ item.name }}</p>
      <button type="button" ng-click="removeItem($index)">Remove Item</button>




      </div>
  </div>

<div id="links">
        <a href="https://github.com/AutumnCharnesky"><img src="images/github.jpg"
          class="Github" width="60" height="60" border="double"></a></br>
        <a href="https://www.facebook.com/autumn.breeze.169"><img src="images/Facebook.jpg"
          class="Facebook" width="60" height="60" border="double"></a></br>
        <a href="https://www.instagram.com/slightlyawkward_autumn/?hl=en"><img src="images/Instagram.jpg"
          class="Instagram" width="60" height="60" border="double"></a></br>
        <a href="https://www.linkedin.com/in/autumn-charnesky-55658b13b/"><img src="images/linkedin.jpg"
          class="LinkedIn" width="60" height="60" border="double"></a>

        </div>

    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>
    <script src="script.js"></script>
  </body>

</html>
