body {
  background-image: url("images/fridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#list {
  background-color: white;
  height: inherit;
  width: 500px;
  margin-left: 200px;
  margin-top: 70px;

}
